/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav.bg-dark {
    background-color: rgba(0, 0, 0, 0.75) !important;
}


/* End Global Rules */


/* Start Navbar */

.navbar-dark .navbar-nav .nav-link {
    padding: 5px 0;
    margin-right: 25px;
    color: #fff;
    border: 2px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #07a94ff5;
    border-bottom: 2px solid #07a94ff5;
}


/* End Navbar */


/* Start Slider */

.slider {
    width: 100%;
    min-height: 600px;
    position: relative;
}

.slider .overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slider .overlay #myslider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.slider .overlay #myslider,
.slider .carousel-control-prev,
.slider .carousel-control-next {
    position: absolute;
    z-index: 3;
}

.slider .carousel-inner .carousel-item span {
    color: #07a94ff5;
}


/* End Slider */


/* Start Our Services */

.our-services {
    padding: 80px 0;
}

.our-services .service .media {
    margin: 15px
}

.our-services .service .media .media-body {
    width: 100%;
    height: 100%;
}

.our-services .service .media i {
    color: #07a94ff5;
    margin: 15px 26px;
    font-size: 70px;
}


/* End Our Services */


/* Start Our Team */

.our-team {
    padding: 80px 0;
}

.our-team .rightsid div div {
    position: relative;
}

.our-team .rightside div div .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 169, 79, 0.8);
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.our-team .rightside .col {
    padding: 0;
}

.our-team .rightside .col:not(:last-of-type) {
    margin-right: 15px;
}

.our-team .rightside .font-weight-bolder p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-team .rightside img {
    width: 100%;
    height: 100%;
}


/* End Our Team */


/* Start What They Say */

.whay-say {
    padding: 80px 0;
    color: #fff;
    min-height: 400px;
    background: url('../images/Clients-say.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.whay-say .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.whay-say .container {
    position: relative;
}

.whay-say .container .opp:not(.active) {
    display: none;
}

.whay-say .container q.text-muted {
    padding: 0 15%;
    display: block;
}

.whay-say .container span {
    display: inline-block;
    margin-top: 50px;
    color: #07a94ff5;
}


/* End What They Say */


/* Start Our Works */

.our-works {
    padding: 80px 0;
}

.our-works .mybuttons button {
    background-color: #fff;
    border: 1px solid gray;
    outline: none;
    color: gray;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.our-works .mybuttons button:hover,
.our-works .mybuttons button.active {
    background-color: #07a94ff5;
    border: 1px solid #07a94ff5;
    color: #fff;
}

.our-works .gallery .col-12,
.our-works .gallery .col-md-4 {
    padding: 0;
}

.our-works .gallery .works {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

#mixUpIt .mix {
    display: none;
}

.our-works .gallery .works .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 169, 79, 0.8);
    display: none;
    color: #fff;
}

.our-works .gallery .works .overlay .info {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.our-works .gallery .works .overlay .data {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-works .gallery .works .overlay .data .hearts {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.our-works .gallery .works img {
    width: 100%;
}


/* End Our Works */


/* Start Footer */

footer {
    padding: 80px 0 0;
    background-color: #141414;
    color: #6c757d;
}

footer .leftside,
footer .middleside1,
footer .middleside2,
footer .rightsid {
    margin-bottom: 50px;
}

footer h4 {
    margin-bottom: 40px;
    color: #fff;
}

footer ul li {
    margin-bottom: 10px;
}

footer .leftside ul li {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

footer .middleside1 ul li {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3px ease-in-out;
    -moz-transition: all 0.3px ease-in-out;
    -o-transition: all 0.3px ease-in-out;
    transition: all 0.3px ease-in-out;
}

footer .middleside2 .media {
    margin-bottom: 15px;
}

footer .rightside ul li {
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all 0.3px ease-in-out;
    -moz-transition: all 0.3px ease-in-out;
    -o-transition: all 0.3px ease-in-out;
    transition: all 0.3px ease-in-out;
}

footer ul li i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer ul li i:hover {
    color: #fff
}

footer ul li {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

footer ul li:hover {
    color: #fff
}

footer .copyrights {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer .copyrights p {
    padding: 0;
    margin: 0;
}

footer .copyrights:hover {
    color: #fff;
}

@media (max-width: 575.98px) {
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .show>.nav-link,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link {
        border: none;
    }
}


/* End Footer */


/* Start my FrameWork */

.h1section {
    margin-bottom: 50px;
}

.h3after::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    border: 2px solid #000;
    margin-top: 10px;
}

.h3aftercenter::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    border: 2px solid #fff;
    margin: 10px 38% 0;
}


/* End my FrameWork */